<header class="container-fluid">
        <nav class="text-center d-flex align-items-center">
            <ul class="d-flex list-unstyled align-items-end pt-3 ps-5 gap-3">
                <li class="text-white fs-5 d-flex align-items-center"><a href="/" class="text-decoration-none text-white">B-Productive</a></li>
                <li class="d-flex align-items-center"><a href="/allList" class="text-decoration-none text-white-50">Todas as Listas</a></li>
                <li class="d-flex align-items-center"><a href="/createList" class="text-decoration-none text-white-50">Nova Lista</a></li>
            </ul>
        </nav>
</header>