.container{
    width: 25rem;
    height: 41rem;
    background-color: #fdfdfd;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
 
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}