<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Cadastro da Newsletter</h1>

    <form action="/register" method="post">
        <label for="email">Insira o seu Email:</label>
        <input type="text" name="email" id="email" placeholder="Digite seu e-mail">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>