<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Newsletter</title>
</head>
<body>
    <h1>PARABÉNS VOCÊ FOI CADASTRADO COM SUCESSO!</h1>
    <h3>ver usuarios cadastrados:</h3>
    <a href="/usuarios"><button>Ver</button></a>
</body>
</html>